  <div class="container mt-5">
        <div class="content-container">
            <h1 class="text-center mb-4">Bienvenue sur notre plateforme !</h1>
            {% if user.is_authenticated %}
                <p>Merci de vous être connecté, {{ user.nom }} !</p>
                <p>vos information , {{ user.telephone }}</p>
            {% endif %}
            <!-- Reste du contenu de la page d'accueil -->
            <a href="{% url 'logout' %}" class="btn btn-danger">Déconnexion</a>

        </div>
    </div>